body {
  margin: 0;
  @font-face {
    font-family: 'SF Pro';
    src: url('path-to-sf-pro.woff2') format('woff2'), url('path-to-sf-pro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  body {
    font-family: 'SF Pro', sans-serif;
  }
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
